body
{
background-color:#005BB5;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size:17px;
background-image:url('../images/bgsvg.svg');
   image-rendering: -moz-crisp-edges;
       image-rendering: -o-crisp-edges;
           image-rendering: -webkit-optimize-contrast;
               -ms-interpolation-mode: nearest-neighbor;
}


.jumbotron
{
    background:none;
}
